.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: #12141b;
  color: #cf7b5a;
  border: none;
}
.users {
  display: flex;
}
